.rightbar{
    flex: 3.5;
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayText{
    font-size: 15;
    font-weight: 300;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0; 
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    /* /margin-bottom: 15px; */
   
}
.rightbarProfileImgContainer{
    margin: 10px;
    position: relative;
}
.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -3px;
    right: 0;
    border: 2px solid white;
}
.rightbarUsernam{
    font-weight: 500;
}