.rightbar{
    flex: 3.5;
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayText{
    font-size: 15;
    font-weight: 300;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0; 
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
