.rightbar{
    flex: 3.5;
    
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayText{
    font-size: 15;
    font-weight: 300;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0; 
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 10px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}


.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }